<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Nodejs basic</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div style="margin-left: 16px">
      <h2>List users</h2>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Address</th><th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < users.length; i++) { %>
          <tr>
            <td><%= users[i].id %></td>
            <td><%= users[i].firstName %></td>
            <td><%= users[i].lastName %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].address %></td>
            <td>
              <a href='/detail/user/<%= users[i].id %>'>Detail</a>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <% } %>
            
        </tbody>
      </table>
    </div>
  </body>
</html>
